@import 'tailwindcss';

:root {
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-raleway: var(--font-raleway);
  --font-cairo: var(--font-cairo);

  --color-primary: #33c160;
  --color-secondary: #0e2020;
   --color-green:#33C160;
   --color-gray:#F3F3F3;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  font-family: var(--font-raleway);
}
.explore{
  background-image:url("/images/bg3.jpg");
}
.swiper-button-prev
{
  border: 1px solid red ;
  position: absolute !important;
  bottom:0 !important;
  left: 0 !important;

}
